<ion-content>
  <ion-slides pager="true" [options]="slideOpt">

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Tu Biblioteca virtual</h1>
      <h2>Disfruta de tus libros favoritos</h2>
      <img src="https://img.freepik.com/free-vector/man-listening-music-headphones-home_23-2148428439.jpg?w=826&t=st=1673639369~exp=1673639969~hmac=d6078071afe5539176fb4b16149a85833fca51ef49db65ba455e18a06eeb0c66" alt="">
      <p>
        Leer es soñar con los ojos abiertos.
      </p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Titulo 2</h1>
      <h2>Sub Titulo</h2>
      <img src="https://img.freepik.com/free-vector/woman-standing-reading-document-with-leafs_603843-3629.jpg?w=826&t=st=1673639423~exp=1673640023~hmac=57c0db64fc8ff01bcb8bb6341335995e9f5aed53b1adfcb91bfc16bfe64cdd64" alt="">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Titulo 3</h1>
      <h2>Sub Titulo</h2>
      <img src="https://img.freepik.com/free-vector/young-women-relaxing-mattress-bedroom_25030-39646.jpg?w=826&t=st=1673639562~exp=1673640162~hmac=9bf04e093ea8dcd4fa94926d9d464d7b6b196541d862ec4a0946aa4d4b2f4185" alt="">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </ion-slide>

  </ion-slides>
</ion-content>




