<ion-content>
  <ion-slides pager="true" [options]="slideOpt">

    <ion-slide>
      <img src="https://cdn-icons-png.flaticon.com/512/2038/2038116.png" alt="">
      <ion-icon></ion-icon>
      <h1>Tu Biblioteca virtual</h1>
      <h2>Disfruta de tus libros favoritos</h2>
      <p>
        Leer es soñar con los ojos abiertos
      </p>
    </ion-slide>

    <ion-slide>
      <ion-icon></ion-icon>
      <img src="https://cdn-icons-png.flaticon.com/512/4517/4517201.png" alt="">
      <h1>Titulo 2</h1>
      <h2>Sub Titulo</h2>
      
    </ion-slide>

    <ion-slide>
      <ion-icon></ion-icon>
      <img src="https://cdn-icons-png.flaticon.com/512/3574/3574729.png" alt="">
      <h1>Titulo 3</h1>
      <h2>Sub Titulo</h2>
      
    </ion-slide>

  </ion-slides>
</ion-content>




